body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

}


.section-dark h2{
    background-color: rgb(34, 5, 5);
}
.meny-wrapper{
    background-color: #5c0011;
    
    width: 100%;
    
    

    
}
.meny{
    margin: 0;
    list-style-type: none;
    font-size: 1.5em;
    display: flex;
    justify-content: space-evenly;

}
.meny a{
    color: #ffd000;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-top: 10px;
    
    
}
a:hover{
    color: #ffffff;
}


.bild1, .bild2, .bild3{
    position: relative;
    opacity: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bild1{
    background-image: url(img/img1.jpg);
    min-height: 100%;
}

.bild2{
    background-image: url(img/riverbg2.jpg);
    min-height: 30%;
}

.bild3{
    background-image: url(img/riverbg3.jpg);
    min-height: 400px;
    
}

.section{
    text-align: center;
    padding: 1px 40px;

}
.section-light{
    background-color: #f4f4f4;
    color: #666;
    
}
.section-dark{
    min-height: 50%;
    background-color:#2e0910 ;
    color: rgb(255, 208, 0);
}

.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: #ffd000;
    font-size: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #5c0011;
    color: fff;
    padding: 20px;
    padding-bottom: 40px;
    max-width: 100%;
}
.ptext2 .border2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top:55.5%;
    width: 100%;
    text-align: center;
    color: #ffd000;
    font-size: 25px;
    letter-spacing: 12px;
    text-transform: uppercase;
    
}
.ptext .border-trans{
    color: #ffffff;
    font-size: 70%;
    letter-spacing: 30px;
}
ol.dishes{

text-decoration: underline;
column-count: 2;
column-gap: 10%;
position: center center;
}
p.plight{
   text-align: center; 
    padding: 40px 30%;
}
.bild1 .ptext .border{
    font-size: 1.5em;
}
footer{
    background-color: #2e0910;
    margin: 0;
    padding: 0;
}
footer div p{
    margin: 0;

}
@media screen and (max-width:500px){
    
    .meny{
    margin: 0;
    list-style-type: none;
    font-size: 1em;
    display: inline-block;
    justify-content: space-evenly;
    margin-block: 0;
}


}
@media screen and (max-width: 635px){
    .bild1 .ptext .border{
        font-size: 10vw;
    }

    .ptext2 .border2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        top: 55.5%;
        width: 100%;
        text-align: center;
        color: #ffd000;
        font-size: 3vw;
        letter-spacing: 12px;
        text-transform: uppercase;
        background-color: #7d3341;
    
    }
    p.plight {
        text-align: center;
        padding: 10px;
    }
}